* {
    margin: 0;
    padding: 0
}

.navbar-text {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#navbar-login:hover,
#navbar-register:hover,
#navbar-logout:hover {
    color: rgb(163, 129, 129);
    cursor: pointer;
}