body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

#login-area,
#register-area {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    background-color: white;
    width: 25rem;
    border-radius: 7px;
    padding: 20px;
}

.center h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}


.txt_field input:focus ~label {
    color: #2691d9;
}


#btn-login,
#btn-register{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

#btn-login:hover {
    border-color: #2691d9;
    transition: 0.5s;
}

.register-link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.register-link a {
    color: #2691d9;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


.login-style {
    background-color: blue;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
}

.col-bg-16 input{
    width: 100%;
    background-color: red;
}

#btn-login-area-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#btn-login-area-group button {
    width: 10rem;
}