/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container-login{
height: 100%;
align-content: center;
}
.container-register{
height: 100%;
align-content: center;
}
.container-add-todo{
height: 100%;
align-content: center;
}
.container-update-todo{
  height: 100%;
  align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
opacity: 100%;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
height: 100%;
background-color: #FFC312;
color: black;
border:0 !important;
}
.input-group{
  margin-top: 10px;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}



.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
float: right;
margin-top: 25px;
}
.register_btn{
color: black;
background-color: #FFC312;
width: 100px;
float: right;
margin-top: 25px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.container-todos {
  margin-top:4.5%;
  display: flex
}
.container-todos h1 {
  color: white;
  text-align: center;
}

.card-body-pendingTodos {
  background-color: slategray;
  width: auto;
  opacity: 75%;
}
.card-body-doneTodos {
  background-color: slategray;
  width: auto;
  opacity: 75%;
}
#pending-todos {
  margin: 0 30%;
}

#done-todos {
  float: right;
  margin: 0 3.5%;
}
.google {
  margin-top: 7%;
}

#date-input {
  width: 110%;
}
#logo-date-input{
  height: 100%;
}
