
#img-h8 img{
  width: 200px;
  height: 200px;
  /* margin-right: 200px; */
}
body {
  background-color: #f5f5f5;
}
#sectionUser {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; 
  background-color: #f5f5f5;
  margin-top: 100px;
}

#section #newsCard {
  width: 400px;
}

#navbar {
  height: inherit;
  padding-left: 50px;
  padding-right: 50px;
}

/**
  LOGIN
  */

#loginform .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  /* margin-left: 100px; */
}
#loginform .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}
#loginform .form-signin .form-control:focus {
  z-index: 2;
}
#loginform .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#loginform .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**
  REGISTER
*/
#register .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 0px;
  /* margin-left: 100px; */
}
#register .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}
#register .form-signin .form-control:focus {
  z-index: 2;
}
#register .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#register .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}