html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(180deg, rgba(247, 247, 247, 1) 23.8%, rgba(252, 221, 221, 1) 92%);
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 25px;
}

.logout {
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

#loginsubmit {
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

#registersubmit {
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.result {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 300px;
}

.result img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-fact {
    padding: 10px;
}

#loginsubmit,
#registersubmit,
#cat_btn {
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

#cat_btn_breed {
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    width: 200px;
}

#loginsubmit:hover,
#registersubmit:hover,
#cat_btn:hover,
#cat_btn_breed:hover {
    opacity: 0.5;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

.card h1 {
  font-size: 24px;
}
