form {
    position: relative;
    width: 360px;
    height: 250px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px;
}

h3 {
    padding-top: 20px;
}