h1 {
  text-align: center;
  margin-top: 1%
}

h5 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 1%;
}

#addTodo {
  text-align: center;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

body {
  background-color: #e1f5fe  ;
}

.middleintext {
  text-align: center;
}

.googleBtn{ 
  padding: 0% 30% 1% 45% !important;
}