<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="./components/header/header.css" />
<script src="./components/header/header.js"></script>

<!-- GOOGLE SIGN IN OAUTH 2.0 PART 1-->
<meta name="google-signin-client_id" content="1039385029394-spg28l1buughu2v6dd1k261kccifg9s2.apps.googleusercontent.com" />
<!-- GOOGLE SIGN IN OAUTH 2.0 PART 1-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand">Fancy To Do</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li id="to-do-list-button" class="nav-item active">
                    <a class="nav-link" aria-current="page">To Do List</a>
                </li>
                <li id="suprise-cat-button" class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Surprise Cat</a>
                </li>
            </ul>
            <button id="sign-out-button" class="btn btn-outline-danger">Sign Out</button>
        </div>
    </div>
</nav>
