html,
body {
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

.sign-up {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
}
.form-signup .checkbox {
    font-weight: 400;
}
.form-signup .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signup .form-control:focus {
    z-index: 2;
}
.form-signup input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signup input[type="retypePassword"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
